// primary color
$desaturated_dark_cyan_color: hsl(180, 29%, 50%);

// neutral colors
$background_color: hsl(180, 52%, 96%);
$light_grayish_cyan_color: hsl(180, 31%, 95%);
$dark_grayish_cyan_color: hsl(180, 8%, 52%);
$very_dark_grayish_cyan_color: hsl(180, 14%, 20%);

$white_color: hsl(0, 0%, 100%);